@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


/*---------------------------------------------Landing Page---------------------------------------*/
html {
    font-size: 62.5%;
    overflow-y: scroll; 
    overflow: hidden;
    
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    cursor: url(/assets/cr1.png), default !important;
    background-size: cover;
    display: flex;
    
}

.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden; 
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 11rem;
    height: auto;
    transform: translate(-50%, -50%); 
    filter: brightness(0.5); 
}


/*---------------------------------------------Navigation Bar---------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 8rem;
    width: 108px;
    height: auto;
    border-radius: 60%; 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);  
    filter: drop-shadow(0 0 20px #ee976b);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style: none;
}

nav ul a {
    color: #A47A82;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    position: relative;  
    transition: all 0.3s ease;
}

nav a:hover {
    color: #7D272C; 
    cursor: url(/assets/cr2.png), pointer;
}

nav ul a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E4C59E;
    transform: scaleX(0);
    transform-origin: center;  
    transition: transform 0.6s ease;
}

nav ul a:hover::before {
    transform: scaleX(1);  
}


/*---------------------------------------------Home Page---------------------------------------*/
section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    
}

.home-img {
    border-radius: 50%;
    margin-left: 30px;
    text-align: right;
    padding: 4rem;
}


/*---------------------------------------------Profile---------------------------------------*/
.profile-img {
    position: relative;
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0.25px solid #dcb5ff;
    cursor: pointer;
    transition: 0.2s linear;
    padding: 1.8rem;
    border-radius: 60%; 
    transition: transform 0.4s ease;

}

.profile-img:hover {
    transform: scale(1.1); 
    cursor: url(/assets/cr2.png), pointer;
}


/*---------------------------------------------Home content---------------------------------------*/
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    color: #FFAD85;
    text-shadow: 4px 4px #7D272C; 
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    
}


/*---------------------------------------------Icons---------------------------------------*/
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: #1D2A40;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
    cursor: url(/assets/cr2.png), pointer;
}


/*---------------------------------------------Typing Text---------------------------------------*/
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "";
    color: #A47A82;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #E4C59E;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Gamer";
    }
    41%, 60%{
        content: "IT student";
    }
    61%, 80%{
        content: "Sophomore";
    }
    81%, 100%{
        content: "Ignacian Marian";
    }
}


/*---------------------------------------------About Page---------------------------------------*/
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 8rem; 
    padding: 1rem 2rem;
}


/*---------------------------------------------Flex box---------------------------------------*/
.cont-one{
    background: rgba( 255, 255, 255, 0.1 );
    padding: 1.8rem;
    max-width: 600px;
    height: 23rem;
    flex-basis: 50%;
    text-align: justify;
    color: white;
    backdrop-filter: blur( 1.5px );
    border-radius: 3rem;
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(212, 213, 226, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



/*---------------------------------------------Text---------------------------------------*/
.headline-one, .headline-two, .headline-three{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(220, 230, 230);
}

.m-text {
    font-size: 1.3rem;
    line-height: 1.3;
}

.text-a{
    color: #FFAD85;
}

.spotify{
    width: 100%;
    padding: 1rem 1.8rem 1rem; 
}


/*---------------------------------------------Skills Page---------------------------------------*/
.mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4rem 6rem 4rem 6rem;
    text-align: center;
    
}

.skill-placement{
    display: flex;
    width: 10%;
    gap: 18rem;
    margin-top: 1%;
    margin-left: 3rem;
    max-height: 20%;
    max-width: 20%;
    padding: 4rem;
}

.m-skill{
    align-items: center;
    margin-bottom: 10rem;
    margin-left: 2rem; 
    font-size: 2.5rem;
    margin-top: -10rem;
    margin-right: -7rem;
}


/*---------------------------------------------Skill effect---------------------------------------*/
.skill-1{
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-1:hover{
    transform: scale(1.1);  
    filter: drop-shadow(0 0 40px #03209e);
    transform: translate(0, -10px); 
    cursor: url(/assets/cr2.png), pointer;  
}

.skill-2{
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-2:hover{
    transform: scale(1.1);  
    filter: drop-shadow(0 0 40px #e75106);
    transform: translate(0, 10px); 
    cursor: url(/assets/cr2.png), pointer;
}
.skill-3{
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-3:hover{
    transform: scale(1.1);  
    filter: drop-shadow(0 0 40px #1fc0dd);
    transform: translate(0, -10px); 
    cursor: url(/assets/cr2.png), pointer;
}

.skill-4{
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-4:hover{
    transform: scale(1.1);  
    filter: drop-shadow(0 0 40px #aee90b);
    transform: translate(0, 10px); 
    cursor: url(/assets/cr2.png), pointer;
}

.skill-placement h1 span{
    color: #FFAD85;
    text-shadow: 4px 4px #7D272C;
}

/*---------------------------------------------Skill effect---------------------------------------*/

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

.project{
    max-width: 250px;
    float: left;
    max-height: 250px;
    margin-right: 10px;
    margin-top: -1.8rem;
    margin-top: 5px;
}

.text-box{
    color: #fff;
}

.text-box h2{
    font-size: 30px;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text-box p{
    font-size: 16px;
}

/*--------------------------------------------Activity---------------------------------------*/
